body {
    text-align: center;
}

#s1 {
    background: linear-gradient(to bottom right, #0c767a 0%, #0c387a 100%);
    height: 600px;
    width: 900px;
    margin-left: 10px;
    border-style: groove;
    border-width: 10px;
}

#oxford {
    font-size: 50px;
    padding-top: 80px;
    color: #c9eef5;
}

#present {
    font-size: 70px;
    font-family: Snell Roundhand;
    color: white;

}

#favorite {
    font-size: 40px;
    font-family: helvetica;
    color: #f8d4fa;
}

.text {
    position: absolute;
    top: 29%;
    left: 48%;
    transform: translate(-50%, -50%);
}

#search {
    height: 230px;
    width: 300px;
}

#welcome {
    font-size: 33px;
    color: #918180;
    margin-bottom: 70px;
}

#explore {
    font-size: 30px;
    color: #f5078a;
}

#s2 {
    background-color: #faedfa;
    height: 700px;
    border: 10px;
    border-color: pink;
    border-style: solid;
    z-index: 9;
}

#fi {
    margin-bottom: 25px;
    border-width: 2px;
    border-color: pink;
    border-style: ridge;
}

#books {
    height: 200px;
    border-radius: 25px;
    margin: 20px;
}

#s3 {
    background: linear-gradient(#c6b0f5 0%, #f2c4ee 100%);
    height: 500px;
    margin-top: 60px;
}

#hobby {
    font-size: 40px;
    font-family: Marker Felt;
    color: #32166e;
}

#hobbyname {
    font-size: 30px;
    font-family: Apple Chancery;
    letter-spacing: 6px;
}

#books2 {
    height: 800px;
    width: 900px;
    filter: opacity(50%);
}

.text2 {

    position: absolute;
    top: 163%;
    left: 48%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #00ACC1;

}

#suitcase {
    position: relative;
    top: 0;
    left: 0;
    height: 600px;
    width: 840px;

}

#hawaiibeach {
    position: absolute;
    top: 400px;
    left: 150px;
    height: 90px;
    width: 150px;
}

#stamp {
    position: absolute;
    top: 400px;
    left: 700px;
    height: 50px;
    width: 100px;
}

#dance {
    position: absolute;
    top: 650px;
    left: 650px;

}

#flowers {
    position: absolute;
    top: 470px;
    left: 550px;
    height: 100px;
}

#food {
    position: absolute;
    top: 550px;
    left: 130px;
    height: 150px;
}

#resort {
    position: absolute;
    top: 500px;
    left: 300px;
    height: 100px;
}

#volcano {
    position: absolute;
    top: 650px;
    left: 400px;
    height: 100px;
}

#flag {
    position: absolute;
    top: 730px;
    left: 200px;
    height: 80px;
}

#hawaiip {
    font-size: 50px;
    color: #008f99;
}


#s5 {
    background: linear-gradient(to bottom right, #faf8e1 0%, #aef5e9 100%);
    height: 1150px;
   
   
}

.menu {
    font-family: 'Zilla Slab', serif;
    list-style: none;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
    position: fixed;
    background-color: white;
}

.items {
    float: left;
    padding: 10px;
    color: #f20f7d;
}

.items:hover {
    background-color: #f5dae7;
}

#jk {
    font-size: 50px;
    font-family: 'Cinzel Decorative', cursive;
    color: white;
    text-shadow: 1px 1px 2px #333399, 0 0 25px #660033, 0 0 5px #9999FF;
    margin-top: 130px;
}

#hp {
    height: 200px;
    width: 350px;
}

#hcrest {
    height: 1000px;
    width: 900px;
    filter: opacity(85%)
}

.info {

    position: absolute;
    top: 70%;
    left: 48%;
    transform: translate(-50%, -50%);

}

#jkr {
    height: 300px;
    width: 430px;
}

#author {
    font-size: 40px;
    color: white;
    font-family: Snell Roundhand;
}

#hawaiih {
    height: 155px;
    width: 280px;
}

#move {
    position: absolute;
    left: 50px;
    top: 85px;
}

#pack {
    font-size: 35px;
    font-family: 'Kaushan Script', cursive;
}

#n1 {
    height: 300px;
    margin: 15px;
}

#n2 {
    height: 300px;
    margin: 15px;
}

#n3 {
    height: 300px;
    margin: 15px;
}

#n4 {
    height: 300px;
    margin: 15px;
}

#n5 {
    height: 300px;
    margin: 15px;
}

#n6 {
    height: 300px;
    margin: 15px;

}

#n7 {
    height: 300px;
    margin: 15px;
}

#Curse {
    height: 300px;
    margin: 15px;
}

#Beasts {
    height: 300px;
    margin: 15px;
}

#Grindelwald {
    height: 300px;
    margin: 15px;
}

#Beedle {
    height: 300px;
    margin: 15px;
}

#Vacancy {
    height: 300px;
    margin: 15px;
}

#Ickabog {
    height: 300px;
    margin: 15px;
}

#Ilvermorny {
    height: 300px;
    margin: 15px;
}

#Quidditch {
    height: 300px;
    margin: 15px;
}

#Hog1 {
    height: 300px;
    margin: 15px;
}

#Hog2 {
    height: 300px;
    margin: 15px;
}

#Hog3 {
    height: 300px;
    margin: 15px;
}

#Lives {
    height: 300px;
    margin: 15px;
}

#prequel {
    height: 300px;
    margin: 15px;
    border: 2px;
    border-style: solid;
    border-color: black;
}

#America {
    height: 300px;
    margin: 15px;
}

#booksjk {
    font-size: 40px;
    font-family: 'Rye', cursive;
    color: #6c244c;
    text-decoration: underline;
    text-decoration-color: #6c244c;
}

#Aboutjk {
    font-size: 50px;
    color: #dc4c46;
    font-family: 'Vollkorn', serif;
    text-decoration: underline;
    text-decoration-color: #dc4c46;
}

#smiley {
    height: 30px;
    width: 30px;
}

.contact #g-mail {
    display: inline;
    color: #006e6d;
    text-decoration: #006e6d;
}

.contact i {
    color: #00a170;
}

#description {
    color: #00758f;
    font-size: 25px;
    font-family: 'Kalam', cursive;
}

#next2author {
    display: inline-block;
    border-radius: 15px;
    background-color: #e9877c;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 23px;
    padding: 10px;
    width: 120px;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

#next2author span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#next2author span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 20px;
    transition: 0.5s;
}

#next2author:hover span {
    padding-right: 25px;
}

#next2author:hover span:after {
    opacity: 1;
    right: 0;
}

#backh {
    display: inline-block;
    border-radius: 15px;
    background-color: #e7b1cb;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 23px;
    padding: 10px;
    width: 120px;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

#backh span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#backh span:after {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -2px;
    transition: 0.5s;
}

#backh:hover span {
    padding-left: 25px;
}

#backh:hover span:after {
    opacity: 1;
    right: 5;
}

#b26 {
    display: inline-block;
    border-radius: 15px;
    background-color: #4d476b;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    padding: 10px;
    width: 120px;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

#b26 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#b26 span:after {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -2px;
    transition: 0.5s;
}

#b26:hover span {
    padding-left: 25px;
}

#b26:hover span:after {
    opacity: 1;
    right: 5;
}

#f726 {
    display: inline-block;
    border-radius: 15px;
    background-color: #8c2636;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    padding: 10px;
    width: 120px;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

#f726 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#f726 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 20px;
    transition: 0.5s;
}

#f726:hover span {
    padding-right: 25px;
}

#f726:hover span:after {
    opacity: 1;
    right: 0;
}

#check {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #ffffff;
    background-color: #d95984;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #1003;
}

#check:hover {
    background-color: #d54474
}

#check:active {
    background-color: #d54474;
    box-shadow: 0 5px #999;
    transform: translateY(4px);
}

#nexth {
    background-color: #8faad6;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#nexth:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
#contact{
    font-size: 40px;
    color: #9e475b;
}
#contactme{
    margin-top: 65px;
}
#backfromcon {
    background-color: #00cc96;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin-top: 10px;
}

#backfromcon:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
#s6{
    background-color: #e6ffff;
    margin-top: 65px;
}
#myins{
    font-size: 40px;
    color: #577aa8;
}
